body {
  font-family: "Noto Sans Mono", monospace;
  font-size: medium;
  background-color: rgb(48, 46, 63);
  color : rgb(233, 230, 213);
  
}

header {
  display: flex;
}

nav {
  width: 300px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: rgb(84, 82, 104);
}

/* image open */
.click {
  cursor: pointer;
  user-select: none;
}

p, #image {
  margin-left: -10;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

#image {
  width: 200px;
  height: auto;
}

/* tree */
ul, #UL1 {
  list-style-type: none;
}

#UL1 {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  display: inline-block;
  margin-right: 5px;
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

/*
ul.breadcrumb {
  padding: 10px 10px;
  list-style: none;
  background-color: transparent;
}

ul.breadcrumb li {
  display: list-item;
}

ul.breadcrumb li+li:before {
  padding: 5px;
  content: "/\00a0";
}
*/