html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background: rgb(255, 230, 0);
    position: relative;
    z-index: 1;
}

.svg-bg {
    background-image: url('assets/top.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    position: relative;
    z-index: -1;
    height: 10vh;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    display: block;
}